* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo do corpo */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container centralizado */
#container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo do botão */
#moveButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

#moveButton:hover {
  background-color: #45a049;
}

/* Estilo do quadrado */
#box {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  margin-top: 20px;
  transition: transform 0.5s ease; /* Transição para o movimento suave */
}